button {
    width: 150px;
    height: 50px;
    background: #00AFFA;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}

input {
    width: 200px;
    height: 30px;
    border: 1px solid #D6DCE8;
    border-radius: 3px;
    background: #F6F8FE;
    font-size: 15px;

}

.container1 {
    border: none;
    background: #EEF2FC;
    width: 650px;
    height: 790px;
    border-radius: 20px;
    border: 1px solid #CCCCCC;

}

html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: #EEF2FC;
}

.con1 {
    padding: 20px;
    background: #00AFFA;
}

label {
    color: #444444;
    font-size: 25px;
}

a {
    text-decoration: none;
    font-size: 25px;
}
h1 {
    font-size: 40px;
    padding: 10px;
    color: #FF4938;
    margin: 200px 0px;
    background: #DEE1ED;
}
.bsi {
    position: absolute;
    top: 425px;
    right: 250px;
    width: 110px;
    background: #00AFFA;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.Msr {
    width: 620px;
    background: #00AFFA;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    font-size: 45px;
    padding: 15px;    
}

h2 {
    color: #2d2d2d;
    font-size: 30px;
}
